<div class="p-6">
    <h2 class="text-xl font-semibold mb-4">Agregar guía</h2>

    <div class="mb-4">
        <label class="text-sm text-gray-600">Número de guía<span class="text-red-500">*</span></label>
        <input [(ngModel)]="numeroGuia"
            class="w-full border border-black-200 rounded-md px-3 py-2 mt-1 text-black-700" />
    </div>

    <div class="flex justify-end gap-3 mt-4">
        <!-- Botón Cancelar con X -->
        <button (click)="cancel()"
            class="flex items-center px-4 py-2 text-gray-700 bg-gray-100 rounded-lg hover:bg-gray-200">
            <!-- Icono X -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            Cancelar
        </button>

        <!-- Botón Agregar con check -->
        <button (click)="add()"
            class="flex items-center px-4 py-2 text-white bg-[#1751cf] rounded-lg hover:bg-[#1541a8]">
            <!-- Icono check -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            Agregar
        </button>
    </div>

</div>