.pending-status {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #fef3c7;
  color: #854d0e;
}

.confirmation-status {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #dcfce7;
  color: #166534;
}

.consolidated-modal select {
  background-image: none !important;
  box-shadow: none !important;
}

.mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.consolidated-modal {
  width: 475px !important;
  height: 424px !important;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 23px 23px 32px 23px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: hidden;
}

.btn-base {
  width: 206.5px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-size: 14px;
  cursor: pointer;
}

.btn-confirmar {
  background-color: #1651CF;
  border-color: #1651CF;
  color: white;
}

.btn-cancelar {
  background-color: white;
  border-color: #1651CF;
  color: #6B7280;
  /* gris */
}

.guia-item {
  width: 400px;
  height: 39px;
  background: #FBFBFB;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.select-causal {
  width: 150px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #E6E6E7;
  border-radius: 8px;
  font-size: 14px;
  color: #000000;
  outline: none;
  margin-left: auto;
  margin-right: 12px;
}

.select-causal:focus {
  border-color: #1651CF;
}

.checkbox-container {
  width: 20px;
  height: 20px;
}

.checkbox-container {
  width: 20px;
  height: 20px;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #b5b5b5;
}